.layout-grid {
  display: grid;
  grid-template-columns: auto minmax(0, 1056px) auto;
  grid-template-rows: 1fr;
  /* align-content: center; */
  /* column-gap: 8px; */
  justify-content: center;
  overflow: hidden;
}

.page-container {
  grid-column-start: 2;
  width: 100%;
  height: 100dvh;
  padding: 0rem;
  position: relative;
  /* overflow-y: auto; */
}

main::before {
  content: "";
  position: absolute;
  /* margin: auto; */
  top: 50%;
  left: 50%;
  /* height: 30%; */
  /* width: 30%; */
  transform: translate(-50%, -50%);
  /* background: linear-gradient(blue, red); */
  /* background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light; */
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
  /* filter: blur(100px); */
  width: 80vw;
  height: 100dvh;
  border-radius: 50% 22% 40% 80%;
  filter: blur(150px);
  opacity: 1;
  z-index: 0;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 1rem;
  row-gap: 1rem;
  /* background-color: hsl(var(--background-page) / 100%); */
  border: 1px solid hsl(var(--background));
  border-radius: 10px;
  height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  padding-bottom: 6rem;
}

.page-header-container {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  height: 3.5rem;
  gap: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background-color: hsl(var(--background) / 50%);
  /* backdrop-filter: opacity(50%); */
  border: 1px solid hsl(var(--background));
  color: #555;
  z-index: 10;
}

.page-header {
  font-weight: bold;
  font-size: 1.1rem;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 32px;
  /* max-width: 80%;
  max-height: 80%;
  aspect-ratio: 1 / 1; */
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid hsl(var(--foreground));
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  z-index: 0;
  position: relative;
  transition: all 0.2s;
  opacity: 1;
  animation-play-state: running;

  @starting-style {
    /* display: none; */
    opacity: 0;
    width: 0px;
    height: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
  }
}

.loader.hide {
  width: 0px;
  height: 0px;
  opacity: 0;
  border-right-width: 0px;
  border-top-width: 0px;
  animation-play-state: paused;
  /* display: none; */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@screen sm {
  .page-container {
    padding: 1rem;
  }

  .page {
    padding-bottom: 1rem;
  }
}
